<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.mariadb.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mariadb://localhost:3306/trainingdb</property>
        <property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">aniruddha</property>
        <property name="hibernate.dialect">org.hibernate.dialect.MariaDBDialect</property>

        <mapping class="com.ani.orm.domain.Car"/>
    </session-factory>
</hibernate-configuration>

