html, body {
    width: 100vw;
    height: 100vh;
}

.container {
    width: 100%;
    height: 200px;
    background-color: aquamarine;

    display: flex;
    /* flex-direction: row;  */

    flex-direction: row;
    /* justify-content: center; */
    /* justify-content: flex-end; */
    justify-content: space-evenly;

    /* justify-content: space-evenly; */
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    align-items: center;
}

.box {
    width: 200px;
    height: 80%;
    background-color: white;
    border: 1px solid black;
}

.container-website {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}
.max-portion {
    background-color: cornflowerblue;
    flex: 7;
}
.min-portion {
    background-color: darkblue;
    flex: 3;
}
