
html, body {
    width: 98vw;
    height: 93vh;
}

header {
    width: 100%;
    height: 50px;
}
nav {
    background-color: #9747FF;
    height: 100%;
    color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.brand-ic {
    width: 30px;
    height: 30px;
    margin-left: 16px;
}

.menu-container {

    flex-basis:20%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.main-container {
    width: 100%;
    height: 100%;

    display: flex;
}

.ad-content {

    flex : 7;

    border: 1px solid black;
    background-image: url('https://www.planetcompliance.com/wp-content/uploads/2021/05/Banking.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;
}
.login-content {
    border: 1px solid black;

    flex : 3;

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
}
input {
    font-size: 1.8em;
    margin-top: 1em;
}
.login-icon {
    width: 80px;
    height: 80px;
}
